.sidebar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 5px;
  position: relative;
  color: #ccc;
}

.sidebar-item:hover {
  background-color: #3a3a3a;
}

.sidebar-item.active {
  background-color: #4a4a4a;
  color: #fff;
  font-weight: bold;
}

.sidebar-item-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-item-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.sidebar-item-timestamp {
  font-size: 0.75rem;
  color: #888;
  margin-top: 2px;
}

.sidebar-item-menu {
  position: relative;
}

.delete-button {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: #555;
}

/* Collapsed state adjustments */
.sidebar.collapsed .sidebar-item {
  justify-content: center;
}





.sidebar.collapsed .sidebar-item-menu {
  position: absolute;
  right: 5px;
}

.sidebar.collapsed .delete-menu {
  right: -110px; /* Position outside the collapsed sidebar */
  top: 0;
}
