* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

body {
  background: #0f0f0f;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
}

